.sidebar {
    width: 200px;
    background-color: #f1f1f1;
    padding: 10px;
}

.sidebar h2 {
    margin: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}