/* frontend/src/app/componeents/assets/ForgotPassWord.css */

.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.forgot-password-box {
    width: 450px;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 10px;
}

input {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.reset-button {
    background: #ffc107;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.reset-button:hover {
    background: #e0a800;
}

.back-login {
    margin-top: 15px;
    font-size: 12px;
}

a:link {
    text-decoration: none;
}